<section class="area-alerts">
    <div class="msg-alert info" role="alert">
      <p>You're viewing an unchanging archive of <em>#vss365 today</em>, created on {{ current_date|format_date_pretty }}.</p>
    </div>
</section>
