<section class="area-alerts">
    <div class="msg-alert info" role="alert">
      <p>You're viewing an unchanging archive of <em>#vss365 today</em>, created on {{ current_date|format_date_pretty }}. <a style="border-bottom: 2px solid currentColor" href="https://web.archive.org/web/20240216154736/https://blog.codetri.net/vss365today-permanent-archive/">Learn more.</a></p>
    </div>
</section>
